.nav-bar{
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  position: relative;
  height: 100%;
  &-logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-menu{
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: #707070;
  &-item{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 12px 6px;
  }
  .active{
    background:  rgba(67, 145, 237, 0.1);;
    color: black
  }
}